/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    line-height: 1.6;
}

header {
    background-color: #9e0233;
    padding: 40px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}
.back-button-container {
    padding: 20px;
}

.back-button-container button {
    background-color: #9e0233;   
     color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.back-button-container button:hover {
    background-color: darkred;
}

main {
    padding: 20px;
}

section#services {
    margin-top: 20px;
}

.service {
    background-color: #222;
    margin-bottom: 20px;
    padding: 20px;
}

.service h3 {
    color: #ff004f;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    font-size: 1em;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}